<div class="list" ng-controller='SecondController' ng-init="initFirst()">

<div>Movie Detail</div>
    <br>
    <form ng-submit="submit()" name="form">

    <div>Rate this movie: </div>
    <select ng-model="ratingScore">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select>
    <button ng-click="form.$valid && rate()" type="submit">Submit Rating</button>
    <button ng-click="calculateRate()" type="submit">Calculate Average Rating</button>
    </form>
    <a class="button" ng-href="#/movielist/moviedetail/{{movie.data._id}}/movieupdate">update movie</a>
    {{message}}

    <br>
    <img ng-src="./images/{{movie.data.imdbID}}.jpg">
    <div>Movie title: {{movie.data.title}}</div>
    <br>
    <div>Movie rank: {{movie.data.rank}}</div>
    <br>
    <div>User ratings: {{movie.data.imdbRating}}</div>
    <br>
    <div>Movie genre:
        <ul>
            <li ng-repeat="g in movie.data.genre">
                {{g}}
            </li>
        </ul>
    </div>
    <div>Movie director:
        <ul>
            <li ng-repeat="d in movie.data.director">
                {{d}}
            </li>
        </ul>
    </div>
    <div>Movie actors:
        <ul>
            <li ng-repeat="a in movie.data.actors">
                {{a}}
            </li>
        </ul>
    </div>
    <div>Movie plot: {{movie.data.plot}}</div>
    <br>
    <div>Movie country:
        <ul>
            <li ng-repeat="c in movie.data.country">
                {{c}}
            </li>
        </ul>
    </div>
    <div>Movie released: {{movie.data.released}}</div>
    <br>
    <div>Movie runtime: {{movie.data.runtime}}</div>
    <br>
    <div>Movie awards: {{movie.data.awards}}</div>
    <br>



    <div>Recommendations:</div>
    <ul>
        <li ng-repeat="r in recommendations">
            <img ng-src="./images/{{r.imdbID}}.jpg">
            <div><a ng-href="#/movielist/moviedetail/{{r._id}}" ng-click="setData(movie._id)" ng-controller='FirstController'>Movie title: {{r.title}}</a></div>
        </li>
    </ul>

    {{rateSum}}
    <ul>
        <li ng-repeat="a in avgRating">
            {{a.rating}}
        </li>
    </ul>
    avg = {{result}}

</div>